[submodule "lib/glutils-cpp"]
	path = external/glutils-cpp
	url = git@github.com:zerujio/glutils-cpp.git
[submodule "lib/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
